.addToCart-outer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.addToCart-button{
    width: 250px;
    border-radius: 5px;
}
.addToCart-button button{
    border-radius: 5px;
    background: black;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}