.product-outer-div{
    border: 1.5px solid #f5f5f5;
    border-radius: 3px;
}
.product-inner-div{
    border: 1.5px solid #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
    max-height: 450px;
    width: 270px;
}
.product-img-div{
    max-height: 450px;
    width: 100%;
    cursor: pointer;
}
.flexCenter{
    align-items: center;
    display: flex;
    justify-content: center;
}
.product-img{
    height: 15rem;
    object-fit:contain;
    width: 15rem;
}
.product-detail{
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0.6em 1.5em;
    width: 100%;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
}
.product-price-box{
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 0.5em;
    width: 100%;

}
.product-price{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
}
.product-price-box img{
    cursor: pointer;
}
.currency{
    font-size: 1rem;
    font-weight: 400;
}