
.filters{
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
}

.filters label{
    display: flex;
    gap: 5px;
    align-items: center;
}
.productsAvailable{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(147, 141, 141);
}