.nav_outerDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1.5px solid #ede6e6;
}
.first_div h3 {
    font-size: 2.5rem;
    color: #202937;
    margin-left: 10px;
}
.second_div input{
    height: 30px;
    padding: 5px 10px;
    border-radius:5px ;
    outline: none;
}
.third_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-right: 20px;
}
.third_div img{
    height: 30px;
    width: 30px;
}
.third_div span{
    position: absolute;
    font-size: medium;
    color: #202937;
}